/* color variables for easier to remember names */
:root {
    --primary: #8d8787;
    --secondary: #000000;
    --pop: #0127ff;
}

/* remove default CSS styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* general body styling setting */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary);
    background-color: var(--secondary);
}

/* header styling start */
header {
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 30px;
}


header h1 {
    color: var(--pop);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 10px;
    font-size: 22px;
    margin: 0 30px;
    font-weight: lighter;
    color: var(--pop);
    text-decoration: none;
    padding-bottom: 2px;
}

header nav ul li a:hover {
    color: var(--pop);
    background: var(--primary);
    border-radius: 15px;
}

section {
    padding :10px;
}
/* header styling end */

/* hero styling start */
.hero {
    background-image: url(./508201.webp);
    height: 600px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
}

.hero .container h3 {
    font-size: 52px;
    color: var(--pop);
}

.hero .container h2 {
    font-size: 62px;
    color: var(--pop);

}

.hero .container h4 {
    font-size: 42px;
    color: var(--pop);
}